<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <filter>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>filter.CharacterFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AuthorFilter</filter-name>
    <filter-class>filter.AuthorFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorFilter</filter-name>
    <url-pattern>/MySeventhDemo/delect?id=8</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>service.userController.loginservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>service.userController.registerservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Listall</servlet-name>
    <servlet-class>service.userController.Listall</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidationServlet</servlet-name>
    <servlet-class>service.userController.ValidationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>delete</servlet-name>
    <servlet-class>service.userController.delete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditUserServlet</servlet-name>
    <servlet-class>service.userController.EditUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmEditUserServlet</servlet-name>
    <servlet-class>service.userController.ConfirmEditUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchUserServlet</servlet-name>
    <servlet-class>service.userController.SearchUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>service.userController.LoginOutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListAllQuestion</servlet-name>
    <servlet-class>service.questionTypeColltroller.ListAllQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addQuestionServlet</servlet-name>
    <servlet-class>service.questionTypeColltroller.addQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditQuestionServlet</servlet-name>
    <servlet-class>service.questionTypeColltroller.EditQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteQuestionServlet</servlet-name>
    <servlet-class>service.questionTypeColltroller.deleteQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editQuestionType2</servlet-name>
    <servlet-class>service.questionTypeColltroller.editQuestionType2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>seeQuestionType</servlet-name>
    <servlet-class>service.questionTypeColltroller.seeQuestionType</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListAllQuestionKuDatil</servlet-name>
    <servlet-class>service.questionKuController.ListAllQuestionKuDatil</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteQuestionKu</servlet-name>
    <servlet-class>service.questionKuController.DeleteQuestionKu</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>addQuestionKuServlet</servlet-name>
    <servlet-class>service.questionKuController.addQuestionKuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditQuestionKuServlet</servlet-name>
    <servlet-class>service.questionKuController.EditQuestionKuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>editQuestionKu2</servlet-name>
    <servlet-class>service.questionKuController.editQuestionKu2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindQuestionKuServlet</servlet-name>
    <servlet-class>service.questionKuController.FindQuestionKuServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StartTestServlet</servlet-name>
    <servlet-class>service.questionKuController.StartTestServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Listall</servlet-name>
    <url-pattern>/Listall</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidationServlet</servlet-name>
    <url-pattern>/ValidationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditUserServlet</servlet-name>
    <url-pattern>/EditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmEditUserServlet</servlet-name>
    <url-pattern>/ConfirmEditUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchUserServlet</servlet-name>
    <url-pattern>/SearchUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllQuestion</servlet-name>
    <url-pattern>/ListAllQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addQuestionServlet</servlet-name>
    <url-pattern>/addQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditQuestionServlet</servlet-name>
    <url-pattern>/EditQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteQuestionServlet</servlet-name>
    <url-pattern>/deleteQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editQuestionType2</servlet-name>
    <url-pattern>/editQuestionType2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>seeQuestionType</servlet-name>
    <url-pattern>/seeQuestionType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllQuestionKuDatil</servlet-name>
    <url-pattern>/ListAllQuestionKuDatil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteQuestionKu</servlet-name>
    <url-pattern>/DeleteQuestionKu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>addQuestionKuServlet</servlet-name>
    <url-pattern>/addQuestionKuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditQuestionKuServlet</servlet-name>
    <url-pattern>/EditQuestionKuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>editQuestionKu2</servlet-name>
    <url-pattern>/editQuestionKu2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindQuestionKuServlet</servlet-name>
    <url-pattern>/FindQuestionKuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StartTestServlet</servlet-name>
    <url-pattern>/StartTestServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>